.footer {
  display: flex;
  width: 100%;
  max-width: 880px;
  margin: 68px auto 60px;
}

@media screen and (max-width: 600px) {
  .footer {
    max-width: 282px;
    margin: 50px auto 36px;
  }
}
