.profile__edit-button {
  border: none;
  background-color: transparent;
  background-image: url(/images/Edit\ Button.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-left: 16px;
  padding: 0;
  grid-area: "button";
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: contain;
    margin: auto auto auto 10px;
  }
}
