.profile__info {
  display: grid;
  grid-template-columns: 373px 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    "name button"
    "job .";
  max-height: 120px;
  margin-left: 30px;
  margin-right: auto;
}

@media screen and (max-width: 750px) {
  .profile__info {
    grid-template-columns: 196px 1fr;
    grid-template-areas: "name button";
  }
}
