.profile {
  display: flex;
  flex-direction: row;
  max-width: 880px;
  width: 100%;
  margin: 0 auto 50px;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    align-content: center;
    max-width: 282px;
  }
}
